.hero-about{

padding:120px 0 80px;

text-align:center;

}

.hero-about h1{

font-size:60px;

font-weight:700;

margin-bottom:25px;

}

.hero-about p{

color:var(--sub);

font-size:20px;

}

.about-content{

padding:80px 0;

}

.glass-card{

background:rgba(255,255,255,.05);

padding:40px;

border-radius:25px;

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

height:100%;

transition:.4s;

}

.glass-card:hover{

transform:translateY(-8px);

box-shadow:0 20px 50px rgba(99,102,241,.2);

}

.timeline-section{

padding:120px 0;

}

.timeline{

position:relative;

margin-top:50px;

}

.timeline::before{

content:"";

position:absolute;

left:22px;

top:0;

bottom:0;

width:3px;

background:#6366f1;

}

.timeline-item{

display:flex;

margin-bottom:45px;

}

.circle{

width:45px;

height:45px;

border-radius:50%;

background:#6366f1;

display:flex;

justify-content:center;

align-items:center;

font-weight:bold;

margin-right:30px;

flex-shrink:0;

}

.content h4{

margin-bottom:10px;

}

.content p{

color:var(--sub);

}

.tech-section{

padding-bottom:120px;

}

.tech-card{

padding:45px;

text-align:center;

border-radius:25px;

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

font-size:55px;

transition:.4s;

}

.tech-card:hover{

transform:translateY(-10px);

}

.tech-card h5{

margin-top:20px;

font-size:20px;

}