@media(max-width:991px){

.hero{

text-align:center;

padding:60px 0;

}

.hero h1{

font-size:42px;

}

.glass-circle{

width:250px;

height:250px;

margin-top:40px;

}

}

.pipeline{

flex-direction:column;

gap:30px;

}

.arrow{

transform:rotate(90deg);

}

.section-title{

font-size:34px;

}

.glass-stats{

padding:35px;

}

.why-card{

margin-bottom:20px;

}

.cta-card{

padding:45px 25px;

}

.cta-card h2{

font-size:34px;

}

.cta-card p{

font-size:17px;

}


.footer{

text-align:center;

}

.newsletter{

flex-direction:column;

gap:15px;

}

.newsletter input{

border-radius:50px;

}

.newsletter button{

border-radius:50px;

}