:root{

--primary:#6366f1;
--secondary:#06b6d4;
--success:#22c55e;
--danger:#ef4444;

--bg:#08111f;

--glass:rgba(255,255,255,.08);

--glass-border:rgba(255,255,255,.15);

--text:#ffffff;

--sub:#94a3b8;

--radius:20px;

}